.hero-section h1 {
    font-size: 32px!important;
    line-height: 1.5;
    margin-bottom: 1em!important;
}

.meet-team-section p {
    color: #063e63!important;
    font-size: 16px;
}

.meet-team-image {
    width: 100%;
    height: 384px;
    overflow: hidden;
}

.meet-team-section .container {
    max-width: 1172px;
}

.meet-team-card p {
    color: white!important;
}

.img-container-item-vision {
    position: absolute;
    /* bottom: 0%; */
    bottom: 0;
    left: 0%;
    z-index: 1;
}

.milestone-section {
    background: #EDFCF5;
}

.vision-and-mission-section {
    margin: 2em 0;
}

.milestone-section {
    margin-top: 3em;
}

.vision-and-mission-section .container {
    max-width: 1172px;
    margin: auto;
}

.global-presence-img {
    width: 100%;
    margin-top: 28px;
}

.location-1-point {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background:#063e63;
}

