.hero-section h1 {
    font-size: 32px !important;
    line-height: 1.5;
}

.hero-section p {
    font-size: 16px;
    margin: 1em 0;
    line-height: 1.5;
}

.content-info-item {
    max-width: 400px;
}

.contact-us-form-section h1 {
    color: white !important;
}

.contact-us-form-section p {
    font-size: 16px !important;
    color: white !important;
}

.contact-us-form-section .container {
    max-width: 1172px;
    margin: auto;
}

.contact-us-form-section button {
    font-size: 14px !important;
}


.career-slider-wrapper {
    position: relative;
    padding: 0 3em;
}

.contact-us-form-section .container {
    max-width: 971px !important;
    margin: auto;
}

.hero-section {
    position: relative;
}

.contact-form-wrapper {
    position: absolute;
    bottom: -300px;
    left: 0%;
    right: 0%;
}

.contact-form-container {
    background: #063e63;
    max-width: 1172px;
    margin: auto;
    border-radius: 22px;
    padding: 2em 2em;
}

.hero-section {
    position: relative;
    margin-bottom: 340px;
}


.contact-form-container .section-header-title {
    color: white !important;
}

.contact-form-container .section-header-description {
    color: white !important;
    text-align: center;
}

.slider-section .section-header-title {
    margin: 1em 0;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: '';
    display: block;
    background-image: url("../icons/slider-next-icon.png");
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: '';
    display: block;
    background-image: url("../icons/slider-prev-icon.png");
}

.opening-listing-section .container {
    max-width: 1172px !important;
}

.job-cards-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    justify-content: center;
    margin: 40px auto;
}

.job-card {
    width: 100% !important;
    box-sizing: border-box !important;
}

.career-slider-wrapper {
    position: relative;
    padding: 0px 0em;
}

.career-slider-wrapper {
    position: relative;
    padding: 0px 0em;
    max-width: 1282px;
    padding: 0 6em;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: 52px;
    right: auto;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    left: auto;
    right: 52px;
}

.job-cards-section {
    margin-bottom: 4em;
}

.hero-section .content-info {
    /* max-width: 400px; */
    max-width: 512px !important;
}


@media only screen and (max-width: 1366px) {
    .hero-section .content-info-item-title {
        font-size: 24px !important;
        line-height: normal;
        max-width: 385px;
    }

    .hero-section .content-info-item-caption {
        font-size: 14px !important;
    }

    .contact-form-container .section-header-title {
        font-size: 24px !important;
    }

    .contact-form-container .section-header-description {
        font-size: 14px !important;
    }

    .contact-form-container {
        max-width: 80%;
    }

    .career-form .apply {
        width: fit-content;
        font-size: 14px !important;
        /* margin-top: 10px; */
    }

    .slider-section .section-header-title {
        margin: 1em 0;
        font-size: 24px;
    }

    .hero-section {
        position: relative;
        /* margin-bottom: 292px; */
        margin-bottom: 330px;
    }

    .job-card h3 {
        color: #183B56;
        font-size: 18px !important;
        font-weight: bold;
        margin-bottom: 10px;
        color: #063E63;
        font-size: 23px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px;
        margin-top: -10px;
    }

    .opening-listing-section {
        padding-left: 10px;
        padding-right: 10px;
    }

    .career-slider-wrapper {
        padding: 0 10px;
    }

    .slider-card-caption-item-description {
        font-size: 14px;
    }
}

/* new css for 90% */
@media only screen and (min-width: 1440px) {
    .hero-section .content-info-item-title {
        font-size: 28px !important;
    }

    .hero-section .content-info-item-caption {
        font-size: 14px !important;
    }

    .contact-form-container .section-header-title {
        font-size: 28px !important;
    }

    .contact-form-container .section-header-description {
        font-size: 14px !important;
    }

    .career-form input {
        font-size: 14px !important;
    }

    .career-form input[type="text"],
    .career-form input[type="email"] {
        font-size: 14px !important;
    }

    .common-cta-green {
        font-size: 14px;
    }

    .section-header-title {
        font-size: 28px !important;
    }

    .slider-card-caption-item-description {
        font-size: 14px;
    }

    .job-card h3 {
        font-size: 16px;
    }

}

@media only screen and (max-width:600px) {
    .job-cards-section {
        grid-template-columns: 1fr;
    }

    .slider-card-caption-wrapper {
        position: absolute;
        top: 0%;
        bottom: 0%;
        right: 0em;
        padding: 2em;
        color: white;
        max-width: 500px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        margin-top: 0 !important;
    }

    .contact-form-container {
        padding: 1em;
    }

    .contact-form-container {
        max-width: 100%;
        margin: 0 1em;
    }

    .career-form form {
        padding: 0 12px;
    }

    .opening-listing-section {
        overflow: hidden;
    }

    .slider-card-caption-wrapper {
        top: auto;
        padding: 0;
        bottom: 0px;
    }

    .job-card {
        width: 100%;
        border-radius: 8px;
    }

    .hero-section .content-info {
        margin: 0px;
    }
}