@import url('https://fonts.cdnfonts.com/css/avenir');

:root {
  --ff-primary: "Avenir", sans-serif;
  --primary-color: "#063E63";
  --secondary-color: "#53E899";
}

* {
  font-family: var(--ff-primary);
}

.container {
  max-width: 1080px;
  margin: auto;
}

.main-heading {
  font-size: 32px;
  font-weight: 600;
  color: #063E63;
}

.main-heading-other-pages {
  font-size: 32px;
  font-weight: 600;
  color: #ffffff;
}

body {
  padding: 0%;
  margin: 0%;
  position: relative;
  overflow-x: hidden;
}

.navbar {
  padding: 3em 4em;
  position: absolute;
  top: 0;
  left: 0%;
  right: 0%;
  z-index: 9999;
}

.navbar .container {
  display: grid;
  /* grid-template-columns: 1fr 2fr 1fr; */
  grid-template-columns: 1fr 2.4fr 0.4fr;
  align-items: center;
  text-transform: uppercase;
}

/* Add sticky navbar styles */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: transparent;
  transition: transform 0.3s ease-in-out;
}

.navbar.sticky {
  position: fixed;
  background: rgba(6, 62, 99, 0.95);
  backdrop-filter: blur(10px);
  transition: all 0.3s ease-in-out;
}

.navbar.sticky.visible {
  padding: 23px 0;
}

.navbar.hidden {
  transform: translateY(-100%);
}

.navbar.visible {
  transform: translateY(0);
}

/* Add padding to body to prevent content from hiding under fixed navbar */
body {
  padding-top: 0;
  /* Remove padding since navbar starts as absolute */
}

.btn-con-swip {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.mobile-menu-popup {
  display: none;
  position: fixed;
  top: 60px;
  /* adjust as needed to sit below navbar */
  right: 40px;
  background: #ddd;
  border-radius: 28px;
  padding: 28px 36px;
  min-width: 220px;
  min-height: 140px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.10);
  z-index: 2000;
  opacity: 0;
  transform: translateY(-20px) scale(0.95);
  transition: all 0.3s cubic-bezier(.4, 1.4, .6, 1);
}

.mobile-menu-popup.active {
  display: block;
  opacity: 1;
  transform: translateY(0) scale(1);
}

.mobile-menu-options {
  display: flex;
  flex-direction: column;
  gap: 18px;
  text-align: center;
  font-size: 16px;
  color: #222;
}

/* Add sticky navbar styles ends */
nav {
  display: flex;
  align-items: center;
  justify-content: right;
}

.mobile-menu-popup {
  display: none;
  position: fixed;
  top: 60px;
  /* adjust as needed to sit below navbar */
  right: 40px;
  background: #ddd;
  border-radius: 28px;
  padding: 28px 36px;
  min-width: 220px;
  min-height: 140px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.10);
  z-index: 2000;
  opacity: 0;
  transform: translateY(-20px) scale(0.95);
  transition: all 0.3s cubic-bezier(.4, 1.4, .6, 1);
}

.mobile-menu-popup.active {
  display: block;
  opacity: 1;
  transform: translateY(0) scale(1);
}

.mobile-menu-options {
  display: flex;
  flex-direction: column;
  gap: 18px;
  text-align: center;
  font-size: 16px;
  color: #222;
}

.primary-nav {
  margin: 0%;
  padding: 0%;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}

.nav-link {
  padding: 12px;

  text-decoration: none;
  font-size: 14px;
  color: white;
}

.nav-link {
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: #00AD6F;
}

.nav-item .active {
  color: #ffffff;
  border-bottom: 2px solid #00AD6F;
}

.brand img {
  height: 32px;
}

.cta {
  display: block;
  text-decoration: none;
  font-size: 16px;
  width: fit-content;
  background: #53e899;
  padding: 12px 28px;
  border-radius: 100vw;
  color: #ffffff;
  font-weight: 600;
  border-radius: 100px;
  background: #00AD6F;
  box-shadow: 0px 4px 13.7px 0px rgba(49, 82, 227, 0.26);
}

.hero-section .content-info-item {
  font-size: 14px;
  /* color: white; */
}

.hero-section .content-info-item-title {
  /* font-size: 32px;*/
  font-size: 35px;
  line-height: normal;
  margin-bottom: 0;
  /* color: white; */
  /* color: #063E63; */
}

.hero-heading-other-pages {
  font-size: 32px;
  font-weight: 600;
  color: #ffffff;
}

.hero-sub-heading-all-pages {
  font-size: 17px !important;
  /* font-weight: 600 !important; */
  /* color: #063E63; */
}

.hero-section .content-info {
  /* max-width: 400px; */
  max-width: 486px;
}

.hero-section-img {
  width: 100%;
  border-radius: 30px;
  /* height: 90vh; */
  /* object-fit: cover; */
}

.hero-section-img img {
  width: 100%;
}

.hero-section {
  /* padding: 1em 2em; */
  padding: 20px;
  padding-bottom: 0;
  position: relative;
}

.hero-section .content-info-wrapper {
  position: absolute;
  top: 0%;
  /* bottom: 0%; */
  bottom: 25px;
  display: flex;
  align-items: center;
}

.about-us-hero .content-info-wrapper {
  /* top: 109px; */
  top: 227px;
  bottom: auto;
}

.about-us-hero .hero-email-capture-line {
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 40%;
}

.about-us-hero .hero-email-capture-text {
  color: white;
  font-size: 20px;
  margin-top: 9px;
}

.content-info-item-caption {
  margin: 30px 0;
  margin-top: 0px;
}

.hero-section .content-info-item-caption {
  color: #ffffff;
}

.accordion-panel-toggle-btn .arrow-placeholder {
  transition: transform 0.3s ease;
  transform: rotate(0deg) scale(1.2);
}

.accordion-panel-toggle-btn.accordion-panel-toggle-btn-active .arrow-placeholder {
  transform: rotate(90deg) scale(1.2);
}

.hero-section .cta {
  font-size: 14px;
}

.feature-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 1em;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 4px 13.7px 0px rgba(49, 82, 227, 0.26);
  margin: 2em 0;
}

.feature-card {
  padding: 1em 1em;
  margin: 0%;
  /* border: 1px solid; */
  border-radius: 12px;
}

.feature-card-caption-item {
  font-size: 22px;
}

.feature-card-caption-item-description {
  font-size: 14px;
  padding-left: 9px;
}

/* arrow configuration  */
.arrow-btn-swip svg path:first-child {
  transition: fill 0.3s ease;
}

.arrow-btn-swip svg path:last-child {
  transition: fill 0.3s ease;
}

.arrow-btn-swip:hover svg path:first-child {
  fill: white;
}

.arrow-btn-swip:hover svg path:last-child {
  fill: #00AD6F;
}

.feature-card img {
  height: 70px;
}

.feature-card-caption-item-title {
  color: #063e63;
  margin: 1.2em 0 1em 0;
  /* font-size: 18px; */
  font-size: 20px;
}

.feature-section .section-header {
  text-align: center;
  max-width: 920px;
  margin: auto;
}

.feature-section .section-header-title {
  color: #063e63;
  font-size: 30px;
  margin-bottom: 12px;
}

.slider-card-img {
  width: 100%;
}

.slider-card {
  position: relative;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
}

.slider-card-caption-wrapper {
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 3em;
  padding: 2em;
  color: white;
  max-width: 500px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin-top: 0 !important;
}

.btn-con-swip {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider-card-caption {
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.8);
  padding: 1em;
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: space-between;
  /* height: 360px; */
  gap: 20px;
}

.slider-card-caption-item-description {
  /* font-size: 14px; */
  font-size: 16px;
}

.record-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* gap: 1em; */
  margin: 1em 0;
  height: 116px;
}

.record-grid-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important; */
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  gap: 22px;
  text-align: center;
}

.record-grid-item .text {
  /* padding: 1em; */
  font-weight: 600;
  color: #ffffff;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  font-size: 17px;
}

.our-track-record-section .section-header {
  text-align: center;
}

.our-track-record-section .section-header-description {
  max-width: 100%;
  margin: 30px 0px;
  font-size: 17px;
  text-align: center;
}

/* .case-study {
  display: flex;
  align-items: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  width: fit-content;
  border-radius: 12px;
  box-sizing: border-box;
  margin-bottom: 1em;
} */

.feature-card-img-wrapper svg {
  transition: fill 0.5s ease;
  fill: #00AD6F40;
}

.feature-card-img-wrapper {
  height: 100px;
}

.feature-card-img-wrapper svg:hover {
  fill: var(--secondary-color);
  fill: #00AD6F;
}

.case-study .col-left {
  /* padding: 1em; */
  font-weight: 900;
  font-size: 18px;
  font-size: 17px;
  color: #171151;
}

.case-study .col-right {
  /* padding: 1em; */
  /* width: 170px; */
  /* width: 228px; */
}

.read-more-cta {
  text-align: center;
  text-decoration: none;
  background: #F2F5FA;
  font-size: 14px;
  padding: 12px;
  border-radius: 16px;
  font-size: 14px;
  padding: 7px 16px;
  box-sizing: border-box;
}

.case-study-thumbnail-img {
  /* width: 100%; */
  height: 100%;
}

.case-study-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3em;
  margin-bottom: 1em;
}

.case-study .date {
  font-weight: 400;
  font-size: 14px;
  width: max-content;
}

.footer-contact-cta {
  font-size: 16px;
  font-weight: 600;
  color: #063e63;
  padding: 12px 35px;
  border-radius: 9px;
  text-decoration: none;
  border-radius: 30px;
  background: #00AD6F;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.7s ease;
}

/* .footer-contact-cta:hover { */
/* background: #ffffff;
  border: 2px solid #00AD6F;
  color: #00AD6F; */
/* transition: 0.3s; */
/* padding-left: 40px; */
/* padding-right: 40px; */
/* box-shadow: 0px 4px 13.7px 0px rgba(49, 82, 227, 0.26); */
/* color: #fff; */
/* } */

footer {
  padding: 3em 2em;
  background: #063e63;
  box-sizing: border-box;
}

footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

.footer-menu {
  margin: 0%;
  padding: 0;
  list-style: none;
}

.footer-menu-link {
  color: #a9b7d1;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}

.footer-flex {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* 
ul.footer-menu>li:nth-child(1) {
  margin-top: 20px;
} */

.footer-menu-link:hover {
  color: #ffffff;
}

.footer-menu-title {
  font-size: 16px;
  color: white;
  margin: 0;
  font-weight: 500;
  margin-bottom: 20px;
}

.footer-content-address {
  font-size: 14px;
  color: #a9b7d1;
  margin-bottom: 3em;
  line-height: 1.5;
}

.footer-copyright {
  max-width: 1080px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2em;
}

.footer-copyright p {
  color: white;
  font-size: 14px;
}

.footer-copyright span {
  color: #a9b7d1;
}

.footer-cta {
  color: #a9b7d1;
  text-decoration: none;
  font-size: 14px;
  transition: all 0.3s ease;
}

.footer-cta:hover {
  color: #ffffff;
}

a.brand {
  display: flex;
  align-items: center;
  /* justify-content: center !important; */
}

.mobile-menu-btn {
  display: flex;
  justify-content: end;
  width: fit-content;
  margin-left: auto;
  cursor: pointer;
}

p {
  font-size: 17px;
  font-weight: 400;
}

.case-study-thumbnail-img {
  display: none;
}

.case-study-row .col-right {
  display: flex;
  align-items: center;
}

.our-track-record-section {
  width: 100%;
  border-radius: 20px;
  background: #063e63;
  box-shadow: 0px 4px 13.7px 0px rgba(49, 82, 227, 0.26);
  color: #ffff;
  padding: 30px 50px;
  padding-top: 0;
  position: absolute;
  /* top: 595px; */
  /* top: -141px; */
  top: -46px;
  left: 50%;
  transform: translateX(-50%);
}

.our-track-record-section .section-header-title {
  font-size: 40px;
  margin: 13px;
  margin-top: 21px;
}

@media only screen and (max-width: 1024px) {
  .hero-section .content-info-wrapper {
    position: absolute;
    left: 4em;
    bottom: 0;
  }

  .hero-section .content-info-item-title {
    font-size: 23px;
    line-height: normal;
  }

  .cta {
    font-size: 14px;
  }

  .brand img {
    height: 24px;
  }

  .feature-section .section-header-title {
    color: #063e63;
    font-size: 24px;
    box-sizing: border-box;
  }

  .feature-section .section-header-description {
    font-size: 14px;
    max-width: 800px;
    margin: 1em auto;
    box-sizing: border-box;
  }

  .feature-card-grid {
    padding: 1em 1em;
    margin: 2em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .feature-card img {
    height: 58px;
  }

  .slider-section {
    padding: 1em 2em;
  }

  .our-track-record-section .section-header-title {
    font-size: 22px;
    color: #063e63;
  }

  .record-grid {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(182px, 1fr));
    gap: 1em;
    margin: 1em 3em;
  }

  .record-grid-item .text {
    font-size: 14px;
  }

  .record-grid-item {
    border-bottom-left-radius: 12px;
  }

  .our-track-record-section {
    padding-bottom: 2em;
  }

  .case-study-section {
    padding: 1em 3em;
  }

  .case-study-title {
    margin: 0%;
    font-size: 16px;
    font-weight: 400;
  }

  .read-more-btn {
    font-size: 12px;
    text-wrap-mode: nowrap;
    border-radius: 6px;
  }
}

.case-study .col-right {
  /* padding: 1em; */
  width: 170px;
  display: grid !important;
}

.case-study .date {
  font-weight: 400;
  font-size: 14px;
  margin: 8px;
}

.read-more-cta {
  color: #063e63;
}

.toggle-tab-btn-name {
  font-size: 16px;
  font-weight: 600;
  color: #063e63;
  transition: all 0.7s ease;
}

.toggle-tab-btn {
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  background: white;
  padding: 3px 22px;
  align-items: center;
  font-weight: bold;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 4px 13.7px 0px rgba(49, 82, 227, 0.26);
  box-sizing: border-box;
  height: fit-content;
  transition: all 0.7s ease;
}

.toggle-tab-btn:hover {
  background: #063e63;
}

.toggle-tab-btn:hover .toggle-tab-btn-name {
  color: #fff;
}

.tab-arrow-icon {
  width: auto;
  height: 22px;
}

.toggle-tab-btn-wrapper {
  display: grid;
  gap: 1em;
}

.tab-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.toggle-tab-btn-wrapper-title {
  color: #063e63;
  margin: 0%;
  font-size: 30px;
}

.tab-content-img {
  width: 100%;
}

.tab-container {
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  gap: 1em;
  align-items: center;
}

.tab-content-wrapper {
  display: flex;
  align-items: center;
}

.service-section .tab-content-wrapper {
  height: 400px;
}

.service-section .toggle-tab-btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.service-section .tab-content {
  height: 100%;
}

.service-section .tab-content-wrapper img {
  height: 100%;
}

.service-section {
  padding: 1em 2em;
  background: #53e8991c;
  margin: 2em 0;
}

.service-section .section-header {
  text-align: center;
  margin: 3em 0;
  max-width: 1024px;
  margin: auto;
}

.service-section .section-header-title {
  color: #063e63;
  font-size: 30px;
  /* margin-top: 0; */
  margin-bottom: 10px;
}

.service-section .section-header-description {
  margin-bottom: 2em;
  color: #4f5358;
  margin-top: 0;

}

.section-header-secondary {
  text-align: center;
}

.section-header-secondary .section-header-title {
  color: #063e63;
}

.section-header-secondary {
  max-width: 100% !important;
}

.tab-container {
  padding: 1em 0;
}

.toggle-tab-btn-active {
  transition: 0.3s;
  background: #063e63;
}

.toggle-tab-btn-active .toggle-tab-btn-name {
  color: white;
}

.record-grid-item .number {
  color: #00AD6F;
  font-weight: bold;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 23px;
}

/* .record-grid-item-2 .number { */
/* width: 134px !important; */
/* font-size: 70px; */
/* } */

.case-study {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  /* margin-bottom: 1em; */
  justify-content: space-between;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 4px 13.7px 0px rgba(49, 82, 227, 0.26);
}

.read-more-cta {
  color: #063e63;
  width: max-content;
}

.case-study .col-right {
  /* padding: 1em; */
  width: fit-content;
  color: #171151;
  font-size: 22px;
  font-weight: 500;
}

.case-study-row {
  grid-template-columns: 1fr 1.4fr;
}

.case-study-row .col-left h1 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #063e63;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  /* line-height: 79px; */
  margin-bottom: 22px;
  /* 219.444% */
}

.case-study-section {
  margin: 3em 0;
}

.case-study-thumbnail-img {
  width: 101%;
}

#hero-video {
  border-radius: 22px;
  overflow: hidden;
}

.primary-cta {
  transition: all 0.7s ease;
}

.primary-cta:hover {
  transition: 0.3s;
  padding-left: 34px;
  padding-right: 34px;
  box-shadow: 0px 4px 13.7px 0px rgba(49, 82, 227, 0.26);
  color: #fff;
}

/* Logo Carousel Styles */
.lg-logo-carousel-section {
  padding: 30px 0;
  background: rgba(6, 62, 99, 0.05);
  margin-top: 370px;
}

.logo-header-wrapper {
  color: #063e63;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 0;
}

.lg-logo-carousel {
  overflow: hidden;
  position: relative;
}

.lg-logo-container {
  display: flex;
  gap: 48px;
  animation: scroll 30s linear infinite;
  padding: 0 50px;
}

.lg-logo-item {
  flex: 0 0 auto;
  width: 150px;
  height: auto;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.lg-logo-item:hover {
  opacity: 1;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-150px * 6));
  }
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .lg-logo-item {
    width: 120px;
  }
}

@media (max-width: 992px) {
  .lg-logo-item {
    width: 100px;
  }
}

@media (max-width: 768px) {
  .lg-logo-container {
    padding: 0 30px;
  }

  .lg-logo-item {
    width: 80px;
  }

  .lg-logo-container {
    gap: 20px;
  }
}

@media (max-width: 576px) {
  .lg-logo-container {
    padding: 0 20px;
  }

  .lg-logo-item {
    width: 60px;
  }

  .lg-logo-container {
    gap: 15px;
  }
}

.service-section .cta {
  margin: auto;
  margin-bottom: 30px;
}

.cta-sec-lst-row {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.cta-sec-lst {
  background: rgba(0, 173, 111, 0.1);
}

.cta-sec-lst .subhead {
  font-size: 17px;
}

.cta-sec-lst .btn-container {
  display: flex;
  gap: 100px;
  justify-content: center;
}

.cta-btn-lst {
  color: #4F5358;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
  border-bottom: 3px solid #00AD6F;
}

.cta-btn-2 {
  color: #4f5358;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.cta-sec-lst .heading-tab {
  margin-bottom: 0;
  color: #063e63;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  width: 82%;
  /* line-height: 30px; */
  /* 71.429% */
}

/* hero-email-capture starts here*/
.hero-email-capture-container {
  position: relative;
}

.hero-email-capture-input-container {
  background: rgba(6, 62, 99, 0.05);
  border-radius: 50px;
}

.hero-email-capture-wrapper {
  display: flex;
  align-items: center;
  padding: 12px 0px;
  gap: 10px;
  color: #ffffff;
}

.hero-email-capture-wrapper-2 {
  flex-direction: column;
}

.hero-email-capture-wrapper input {
  flex: 1;
  padding: 10px 20px;
  border: none;
  color: #063E63;
  font-size: 14px;
  letter-spacing: 1px;
  outline: none;
  width: 344px;
  text-align: center;
}

.hero-email-capture-wrapper input::placeholder {
  color: #063E63;
  text-align: center;
  opacity: 0.4;
}

.hero-email-capture-wrapper button {
  background: transparent;
  border: none;
  color: #063E63;
  font-size: 14px;
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
  white-space: nowrap;
}

.hero-email-capture-line {
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 2px;
  width: 100%;
  overflow: hidden;
}

.hero-email-capture-line::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: #00AD6F;
  animation: slide 2s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.hero-email-capture-text {
  color: #063E63;
  font-size: 14px;
  margin-top: 9px;
}

/* hero-email-capture-ends here  */

/* Team Section Styles */
.meet-team-section {
  /* padding: 80px 0; */
  /* background: #f8f9fa; */
  /* padding-bottom: 40px; */
}

.meet-team-header {
  text-align: center;
  margin-bottom: 40px;
}

.meet-team-header h2 {
  color: #063e63;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 7px;
}

.meet-team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.meet-team-card {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.meet-team-card:hover {
  transform: translateY(-5px);
}

.meet-team-image {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.meet-team-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.meet-team-card:hover .meet-team-image img {
  transform: scale(1.1);
}

.meet-team-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background: rgba(6, 62, 99, 0.8);
  border-radius: 20px;
  background: linear-gradient(180deg,
      rgba(23, 23, 23, 0) 20.71%,
      rgba(23, 23, 23, 0.7) 72.39%,
      rgba(23, 23, 23, 0.9) 100%);
  color: white;
  /* transform: translateY(100%); */
  /* transition: transform 0.3s ease; */
}

/* .meet-team-card:hover .meet-team-overlay {
    transform: translateY(0);
} */

.meet-team-overlay h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

.meet-team-overlay p {
  margin: 5px 0 0;
  font-size: 16px;
  opacity: 0.9;
}

.meet-team-social {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  /* gap: 10px; */
  z-index: 1;
  flex-direction: column;
  border-radius: 0px 20px;
  background: #063e63;
  padding: 6px;
}

.meet-team-social-link {
  width: 30px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.meet-team-card svg {
  fill: white;
  /* stroke: white; */
}

.meet-team-social-link:hover {
  transform: translateY(-3px);
}

.meet-team-social-link img {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .meet-team-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .meet-team-image {
    height: 250px;
  }

  .meet-team-overlay h3 {
    font-size: 16px;
  }

  .meet-team-overlay p {
    font-size: 14px;
  }
}

.btn-container-product-home .swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: none;
}

.btn-container-product-home .swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: none;
}

.btn-container-product-home .swiper-button-prev svg path:first-child,
.btn-container-product-home .swiper-button-next svg path:first-child {
  transition: fill 0.3s ease;
}

.btn-container-product-home .swiper-button-prev svg path:last-child,
.btn-container-product-home .swiper-button-next svg path:last-child {
  transition: fill 0.3s ease;
}

.btn-container-product-home .swiper-button-prev:hover svg path:first-child,
.btn-container-product-home .swiper-button-next:hover svg path:first-child {
  fill: #063E63;
}

.btn-container-product-home .swiper-button-prev:hover svg path:last-child,
.btn-container-product-home .swiper-button-next:hover svg path:last-child {
  fill: white;
}

.btn-container-product-home .swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 54px;
}

.btn-container-product-home .swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 54px;
}

.case-studies labels {
  padding: 0;
  margin: 0;
}

.case-studies {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.career-form form {
  background: rgba(6, 62, 99, 0.85);
  padding: 0px 24px;
  border-radius: 12px;
  box-shadow: 0 4px 24px rgba(6, 62, 99, 0.08);
  margin: 0 auto;
  box-sizing: border-box;
}


.career-form label {
  display: block;
  color: #fff;
  font-weight: 500;
  margin-bottom: 8px;
  font-size: 15px;
  letter-spacing: 0.02em;
}

.career-form input[type="text"],
.career-form input[type="email"] {
  width: 100%;
  padding: 14px 16px;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.35);
  color: #fff;
  font-size: 16px;
  margin-bottom: 18px;
  transition: background 0.2s, box-shadow 0.2s;
  outline: none;
  box-sizing: border-box;
}

.career-form input[type="text"]:focus,
.career-form input[type="email"]:focus {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0 2px #53e899;
  color: #063e63;
}

.career-form ::placeholder {
  color: #e0e0e0;
  opacity: 1;
}

.career-form .form-group {
  margin-bottom: 0;
}

.career-form .form-row {
  display: flex;
  gap: 20px;
  /* margin-bottom: 18px; */
}

.career-form .form-row>div {
  flex: 1;
}

.common-cta-green {
  padding: 14px 50px;
  border-radius: 100px;
  background: #00AD6F;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  margin: 0 auto;
}

.form-group :nth-child(4) {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.career-slider-section {
  position: relative;
  margin: 30px auto;
}

.job-cards-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px 40px;
  justify-content: center;
  margin: 40px auto;
}

.job-card {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 16px 0 rgba(24, 59, 86, 0.06);
  padding: 26px;
  width: 500px;
  /* min-height: 200px; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: box-shadow 0.2s;
  border-radius: 20px;
  border: 1px solid var(--Neutral-Color, #F2F5FA);
  background: #FFF;
  box-shadow: 0px 4px 13.7px 0px rgba(49, 82, 227, 0.10);
}

.job-card h3 {
  color: #183B56;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #063E63;
  font-size: 23px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  margin-top: -10px;
  /* 125% */
}

.job-card .type {
  color: #183B56;
  font-weight: 500;
  margin-bottom: 14px;
  font-size: 1.05rem;
}

.job-card p {
  color: #5A7184;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}

.arrow-placeholder {
  position: absolute;
  top: 29px;
  right: 24px;
  background: #00AD6F;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1.6);
}

.arrow-placeholder-product {
  position: unset;
}

.arrow-placeholder svg {
  width: 16px;
  height: 16px;
  fill: #fff;
  transform: scale(1.2);
}

.arrow-placeholder svg ellipse {
  transition: fill 0.3s ease, stroke 0.3s ease;
}

.arrow-placeholder svg path {
  transition: fill 0.3s ease;
}

.arrow-placeholder:hover svg ellipse {
  fill: white;
  stroke: #00AD6F;
}

.arrow-placeholder:hover svg path {
  fill: #00AD6F;
}

/* location starts here  */
.location-section {
  margin: 40px auto 0 auto;
  /* max-width: 900px; */
  text-align: center;
  margin-bottom: 50px;
}

.location-toggles {
  display: flex;
  justify-content: center;
  /* gap: 24px; */
  justify-content: space-around;
  margin-bottom: 32px;
}

.location-toggle-btn {
  padding: 10px 36px;
  border-radius: 999px;
  border: 1px solid #00AD6F;
  background: #fff;
  color: #063E63;
  width: 200px;
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
}

.location-toggle-btn.active {
  background: #00AD6F;
  color: #fff;
  border: 2px solid #00AD6F;
}

.location-details {
  margin-bottom: 18px;
}

.location-details h2 {
  color: #183B56;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.location-details .address {
  color: #183B56;
  font-size: 1.1rem;
  margin-bottom: 6px;
}

.location-details .contact {
  color: #5A7184;
  font-size: 1.1rem;
}

.location-details .contact a {
  color: #183B56;
  /* text-decoration: underline; */
  font-weight: 500;
}

.location-details .contact a:first-child {
  color: #183B56;
  text-decoration: underline;
  font-weight: 500;
}

.location-map {
  margin: 0 auto;
  border-radius: 24px;
  overflow: hidden;
  /* max-width: 800px; */
  /* box-shadow: 0 2px 16px 0 rgba(24, 59, 86, 0.06); */
}

.location-map iframe {
  width: 100%;
  height: 400px;
  border: 0;
  border-radius: 24px;
}

/* button starts here  */
.btn-neon {
  position: relative;
  display: inline-block;
  padding: 14px 24px;
  /* color: #fff; */
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  overflow: hidden;
  transition: 0.2s;
  /* color: black; */
  border-radius: 20px;
}

.btn-neon svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.btn-neon polyline {
  fill: none;
  stroke: #00AD6F;
  stroke-width: 2;
  border-radius: 20px;
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: snake 2s linear infinite;
}

@keyframes snake {
  to {
    stroke-dashoffset: 0;
  }
}

/* Add hover effect for the arrow */
.arrow-placeholder svg ellipse {
  transition: fill 0.3s ease;
}

.arrow-placeholder svg path {
  transition: fill 0.3s ease;
}

.arrow-placeholder:hover svg ellipse {
  fill: white;
}

.arrow-placeholder:hover svg path {
  fill: #00AD6F;
}

/* snake btn starts here  */
.snake-btn svg {
  display: block;
  margin: 40px auto;
}

#animated-border {
  stroke: #00AD6F;
  stroke-width: 2;
  fill: none;
  stroke-linecap: round;

  /* Key to snake animation */
  stroke-dasharray: 70 400;
  /* Visible 40px dash, 400px gap */
  stroke-dashoffset: 0;

  animation: snake-loop 3s linear infinite;
}

@keyframes snake-loop {
  to {
    stroke-dashoffset: -440;
    /* Sum of dash + gap length */
  }
}

/* snake btn ends here  */

.option-dropdown-list {
  list-style: none;
  padding: 0%;
  margin: 0%;
}

.option-dropdown-link {
  font-size: 14px;
  display: block;
  padding: 12px 12px;
  text-transform: uppercase;
  transition: .3s;
  min-width: max-content;
  width: 186px;
  text-align: center;
  color: #fff;
}


.option-dropdown {
  background: #063E63;
  border-radius: 12px;
  overflow: hidden;
  border-top-right-radius: 0;
}

.option-dropdown-link:hover {
  /* color: #00AD6F; */
  color: #fff;
  font-weight: 600;
}

.option-dropdown-wrapper {
  position: absolute;
  top: 45px;
  right: 0%;
  display: none;
  /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);  */
}

.option-dropdown {
  border: 1px solid rgb(202, 202, 202);
  box-sizing: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
}

.mobile-menu-btn {
  position: relative;
}


.section-common-margin {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

/* Update the selector to be more specific */
.footer-nav .footer-menu ul.footer-menu li.footer-menu-item:nth-child(2) {
  display: flex;
  gap: 20px;
}

.vision-and-mission-section {
  /* margin-top: 100px !important; */
  margin-bottom: 0px !important;
}

.feature-section .section-header-description {
  margin-top: 0;
}




.product-lineup-toggle-tab-btn:hover {
  background-color: #e2fff5;


}


.product-lineup-toggle-tab-btn-active:hover {
  background-color: #00AD6F;
  color: white;
}

.brand img {
  height: 47px !important;
}

.footer-secondary-text {
  color: #a9b7d1 !important;
  margin: 0;
}

footer p {
  margin: 6px 0;
}

.footer-brand {
  height: fit-content;
}

.footer-brand img {
  height: 46px;
  width: auto;
}

.footer-brand {
  height: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8em;
}

.footer-contact-cta:hover {
  color: white;
  padding-left: 42px;
  padding-right: 42px;
}

.footer-contact-cta {
  font-weight: 400;
}

.footer-logo-wrapper {
  box-sizing: border-box;
}

footer .social-link {
  display: inline-block;
  box-sizing: border-box;

}

footer .social-icons {
  display: flex;
  align-items: center;
  gap: 1em;
}

.footer-logo-wrapper img {
  margin-top: -10px;
}

.primary-cta-btn {
  border-bottom: 0px;
  font-weight: 500;
}

.primary-cta-btn-active-underline {
  display: block;
  width: 0%;
  height: 2px;
  background: #00AD6F;
  margin-top: 3px;
  transition: .3s;
}

.primary-cta-btn:hover .primary-cta-btn-active-underline {
  width: 100%;
}

.lg-logo-container img {
  height: 60px !important;
}


.primary-text-color {
  color: #063E63;
}

.section-header-description,
.subhead,
.content-info-item-caption,
.info-item-description,
.multi-column-caption-item {
  color: #063e63 !important;
}

.content-info-item {
  color: white !important;
}


.multi-column-card {
  color: #063E63;
}

.option-dropdown-wrapper {
  position: absolute;
  top: 45px;
  right: 0%;
  right: -397%;
  right: -180%;
  right: -324%;
  /* display: block; */
}

.option-dropdown {
  background: #063e63a5;
  border-radius: 12px;
  overflow: hidden;
  border-top-right-radius: 12px;
}

.option-dropdown-link {
  font-size: 12px;
  box-sizing: border-box;
  /* display: block; */
}


.option-dropdown-item {
  box-sizing: border-box;
}

/* new navbar style  */
.navbar .container {
  display: grid;
  /* grid-template-columns: 1fr 2fr 1fr; */
  /* grid-template-columns: 1fr 2fr 1fr; */
  align-items: center;
  text-transform: uppercase;
}

.container {
  max-width: 1344px;
}

.mobile-menu-btn {
  position: relative;
  margin-right: 3em;
}

.hero-section-title {
  font-size: 32px !important;
}

.hero-section-description {
  margin: 1em 0 !important;
}

.navbar.sticky.visible {
  padding: 9px 0;
}

.hero-email-capture-wrapper button {
  font-size: 14px;
}

.section-header-title {
  font-size: 32px;
  color: #063E63;
  margin: auto;
  text-align: center;
}

.footer-content-address {
  color: #a9b7d1 !important;
}

.hero-section .content-info-wrapper {
  padding: 1em;
}

.footer-copyright {
  max-width: 1344px !important;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2em;
}

.footer-primary-text {
  color: #a9b7d1 !important;
}

.primary-nav {
  gap: 14px;
}

.nav-link {
  padding: 12px 0 !important;
  padding-bottom: 4px !important;
}

.primary-nav {
  gap: 32px !important;
}

.nav-item .active {
  color: #ffffff;
  border-bottom: 1px solid #00AD6F;
}

/* 

@media only screen and (min-width:820px) {

  .brand img {
    height: 32px !important;
  }

  .hero-section-title {
    font-size: 18px !important;
    font-weight: bold;
    max-width: 258px !important;
  }

  .nav-link {
    padding: 12px;
    text-decoration: none;
    font-size: 12px;
    color: white;
  }

  .hero-section-description {
    margin: 1em 0 !important;
    font-size: 12px;
  }

  .hero-section .content-info {
    max-width: 304px;
  }

  .navbar {
    padding: 2.2em 3em;
  }

  .navbar .container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr !important;
  }

  .primary-nav {
    gap: 12px !important;
  }

  .hero-section .content-info-wrapper {
    top: 3em;
  }

  .hero-email-capture-wrapper input {
    font-size: 9px;
  }

  .hero-email-capture-wrapper button {
    font-size: 10px;
  }

  .our-track-record-section .section-header-title {
    font-size: 22px !important;
  }

  .our-track-record-section .section-header-description {
    font-size: 12px !important;
  }

  .record-grid-item .number {
    font-size: 22px;
  }

  .text-wrapper p {
    font-size: 12px;
  }

  .our-track-record-section {
    max-width: 728px !important;
    box-sizing: border-box;
  }

  .text-wrapper p {
    font-size: 10px !important;
  }

  .hero-section .content-info-wrapper {
    padding: 1em;
    padding-left: 0;
  }

  .our-track-record-section {
    bottom: -224px !important;
  }

  .trusted-by-section {
    margin-top: 250px !important;
  }

  .feature-card-caption-item-title {
    font-size: 14px;
  }

  .feature-card li {
    font-size: 12px;
    line-height: 1.5;
  }

  .feature-card-grid {
    padding: 2em;
    max-width: 728px !important;
    gap: 2em;
    margin: 2em auto 1em auto;
    box-sizing: border-box !important;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

  }
} */

/* new  */


@media only screen and (max-width: 1024px) {
  .nav-link {
    font-size: 12px !important;
  }

  .brand img {
    height: 34px !important;
  }

  .primary-nav {
    gap: 10px !important;
  }

  .navbar .container {
    grid-template-columns: 1fr 4fr 1fr;
  }

  nav {
    justify-content: center !important;
  }

  .hero-section-title {
    font-size: 24px !important;
    max-width: 346px !important;
  }

  .hero-section .content-info-wrapper {
    padding: 1em;
    top: 1em;
  }

  .hero-section-description {
    margin: 1em 0 !important;
    max-width: 420px;
    font-size: 14px !important;
  }

  .navbar {
    padding: 2.2em 4em;
  }

  .record-grid-item .number {
    font-size: 32px;
    font-weight: bold !important;
  }

  .our-track-record-section .section-header-title {
    font-size: 24px !important;
    margin: 0%;
    color: white !important;
  }

  .our-track-record-section .section-header-description {
    font-size: 14px;
  }

  .our-track-record-section {
    bottom: -280px;
    height: fit-content;
    top: auto;
    max-width: 928px !important;
    box-sizing: border-box !important;
  }

  .feature-card-caption-item-title {
    font-size: 14px !important;
    font-weight: bold;
  }

  .service-section .section-header-title {
    font-size: 22px !important;
  }

  .service-section .section-header-description {
    font-size: 14px !important;
  }

  .service-section .tab-container {
    max-width: 850px;
    margin: auto;
  }

  .slider-card {
    position: relative;
    height: 100% !important;
    border-radius: 20px;
    overflow: hidden;
  }

  .product-slider-wrapper .slider-card-img {
    border-radius: 22px !important;
  }

  .toggle-tab-btn-name {
    font-size: 14px;
  }

  .toggle-tab-btn-wrapper-title {
    font-size: 22px !important;
  }

  .feature-card-grid {
    box-sizing: border-box !important;
    max-width: 929px !important;
    gap: 2em;
    margin: 2em auto 1em auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .service-section .tab-content-wrapper {
    height: auto;
  }

  .service-section .tab-content-wrapper img {
    height: auto !important;
  }

  .service-section .section-header-secondary {
    max-width: 850px !important;
    box-sizing: border-box;
  }

  .case-study-section h1 {
    font-size: 24px;
  }

  .case-study-title {
    font-size: 14px !important;
  }

  .case-study-row h1 {
    font-size: 22px !important;
  }

  .case-study-row .case-study-title {
    font-size: 14px !important;
  }

  .ready-for-transformation-section h1 {
    font-size: 22px !important;
  }

  .ready-for-transformation-section .section-header-description {
    font-size: 14px;
  }

  .ready-for-transformation-section a {
    font-size: 16px !important;
  }

  .footer-brand img {
    height: 34px;
    width: auto;
  }
}

@media only screen and (max-width: 1168px) {
  .navbar {
    padding: 2em 4em;
  }

  .brand img {
    height: 42px !important;
  }
}

.nav-item .active {
  color: #ffffff;
  border-bottom: 1px solid #ffffff !important;
}