.tab-toggle-btn {
    padding: 12px 28px;
    border-radius: 100vw;
    font-size: 16px;
    border: 1px solid #00AD6F;
    background: white;
    width: 100%;
    margin: 1em 0;
    font-weight: 500;
}

.tab-toggle-btn-active {
    transition: .3s;
    background-color: #00AD6F;
    color: white;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
    font-size: 13px !important;
    font-weight: bold;
    padding: 12px 17px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.075) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #001641;
    border: 1px solid #001641;
    color: #001641;
}

.tab-toggle-btn-wrapper {
    padding: 1em 4em;
    position: relative;
}

.tab h1 {
    font-size: 32px;
    color: #063E63;
    font-weight: 600;
}

.tab h3 {
    color: #063E63;
    margin: 0;
    font-weight: 600;
}

.tab p {
    color: #063E63;
    margin: 9px 0;
    line-height: 1.5;
}

.service-overview h3 {
    color: #4F5358;
}


.service-overview p {
    color: #4F5358;
}

.service-overview .service-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6em;
}

.service-overview {
    padding: 2em;
    border: 1px solid #f5f5f5;
    border-radius: 12px;
    margin: 2em 0;
    box-shadow:  0 .125rem .25rem rgba(0, 0, 0, 0.075) !important;
}

.service-overview .description {
    margin-bottom: 3em;
}

.service-col h3 {
    font-weight: 400;
}

.service-col li {
    color: #4F5358;
    padding: 3px 0;
}
.service-col h3 .underline {
    height: 1px;
    border-radius: 12px;
    background: #001641;
    display: block;
    margin-top: 1em;
}

.underline-secondary {
    background: #00AD6F!important;
    box-sizing: border-box;
}

.heading-wrapper{
    display: flex;
    align-items: center;
    gap: 12px;
    box-sizing: border-box;
    border-bottom: 1px solid #00AD6F;
    padding:0 0 1em 0;
}

.heading-wrapper-secondary {
    border-bottom: 1px solid #001641;
}


.heading-wrapper .icon {
    height: 20px;
    width: auto;
}

.figure-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.caption-item-title {
    font-size: 28px;
}

.caption-item-description {
    font-size: 16px;
    line-height: 1.5;
}

.img-wrapper {
    height: 70%;
    background: #dcdcdc;
    border-radius: 12px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1em;
}